<div class="headerDiv">
    <div class="headerImg">
        <a href="#"><img src="assets/img/FFLogo.png"></a>
    </div>
    <div class="headerMenu">
        <a href="#aboutMe">About me</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
    </div>



    <div class="headerMenuMobilDiv">
        <img src="assets/img/Icon/menu.png" class="menuIcon">
        <img src="assets/img/Icon/close.png" class="closeIcon d-none">
        <div class="headerMenuMobil d-none">
            <div class="headerMenuPosition">
                <a href="#aboutMe">About me</a>
                <a href="#skills">Skills</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>
</div>