<div class="headerDiv">
    <div class="headerImg">
        <img src="assets/img/FFLogo.png">
    </div>
    <div class="headerMenu">
        <a href="#">About me</a>
        <a href="#">Skills</a>
        <a href="#">Portfolio</a>
    </div>



    <div class="headerMenuMobilDiv d-none">
        <img src="assets/img/Icon/menu.png" class="menuIcon">
        <img src="assets/img/Icon/close.png" class="closeIcon d-none">
        <div class="headerMenuMobil">
            <a href="#">About me</a>
            <a href="#">Skills</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
        </div>
    </div>
</div>