<div class="footerDiv">

    <div class="footer">
        <div class="footerLogo">
            <img src="assets/img/FFLogo.png">
            <a href="#">Impressum</a>
            <a href="#">Datenschutz</a>
        </div>

        <div>
            <span class="footerCopyright">
                © Fabian Flegler 2023
            </span>
        </div>

        <div class="footerIcon">
            <img src="assets/img/Icon/Vector.png">
            <img src="assets/img/Icon/Vector (3).png">
            <img src="assets/img/Icon/Vector (4).png">
        </div>
    </div>

</div>