.footerDiv {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    max-width: 100%;
    background-color: #141D2F;
    border-top: 4px solid #00BEE8;
}

.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
        margin-top: 10px;
        color: white;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        transition: all 125ms ease-in-out;
        text-decoration: underline 2px transparent;

        &:hover {
            text-decoration: underline 2px #00BEE8;
        }
    }
}

.footer {
    margin-top: 60px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerCopyright {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
}

.footerIcon {

    img {
        margin: 20px;
        transition: all 125ms ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.4);
        }
    }
}


// ===========================
// ======== - Media - ========
// ===========================

@media (max-width: 1160px) {
    .footer {
        flex-direction: column;
    }

    .footerDiv {
        height: 500px;
    }

    .footerLogo {
        margin-bottom: 50px;

        img {
            margin-top: 40px;
        }
    }

    .footerCopyrightDiv {
        margin-bottom: 50px;
    }
}


@media (max-width: 600px) {
    .footer {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footerDiv {
        top: 7080px;
    }
}

@media (max-width: 400px) {

    .footerCopyright {
        font-size: 20px;
    }

    .footerCopyright {
        margin-top: 10px;
    }
}