<div class="footerDiv">

    <div class="footer">
        <div class="footerLogo">
            <a href="#"><img src="assets/img/FFLogo.png"></a>
            <a routerLink="/imprint" translate>Imprint</a>
        </div>

        <div class="footerCopyrightDiv">
            <span class="footerCopyright">
                © Fabian Flegler 2023
            </span>
        </div>

        <div class="footerIcon">
            <a href="https://github.com/FabianFle" target="_blank"><img src="assets/img/Icon/Vector.png"></a>
            <a href="#contact"><img src="assets/img/Icon/Vector (3).png"></a>
            <a href="https://www.linkedin.com/in/fabian-flegler/" target="_blank"><img src="assets/img/Icon/Vector (4).png"></a>
        </div>
    </div>

</div>