.backgroundAbout {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    position: absolute;
    top: 1000px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(20, 29, 47);
}

.iconScrollDiv {
    z-index: 5;
    position: absolute;
    top: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconDiv {
    display: flex;
    flex-direction: row;

    a {
        margin-right: 20px;
    }
}

.iconAbout {
    width: 30px;
    margin-right: 42px;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.4);
    }
}

.line1 {
    width: 100px;
    margin-right: 40px;
}

.emailAboutLink {
    text-decoration: none;
}

.emailAbout {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
}

.scrollRotate {
    position: absolute;
    top: 700px;
    right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 22vh;

    span {
        color: white;
        writing-mode: vertical-rl;
        font-size: calc(18px + 0.390625vw);
        display: flex;
        align-items: center;
        z-index: 4;
    }

    img {
        position: absolute;
        top: 180px;
        width: 2vw;
        height: 2vh;
        object-fit: contain;
        animation: scrollDown 1.5s linear infinite;
        z-index: 4;
    }
}

@keyframes scrollDown {
    0% {
        top: 180px;
    }

    25% {
        top: calc(180px + 5px);
    }

    50% {
        top: 195px;
    }

    75% {
        top: calc(195px - 5px);
    }

    100% {
        top: 180px;
    }
}

.aboutMeSite {
    z-index: 5;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    z-index: 5;
    position: absolute;
    top: 1090px;
}

.marginLeft {
    overflow: hidden;
    margin-left: 100px;
}

.h1SpanDiv {
    max-width: 530px;
    margin-bottom: 40px;
}

.aboutH1 {
    color: white;
    text-shadow: 0 0 5px white;
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 120%;
    width: 510px;
}

.imgAndSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    margin-bottom: 25px;

    img {
        margin: 30px;
        margin-right: 60px;
        transition: all 125ms ease-in-out;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.colorWhite {
    color: white;
}

.roundImgSpanDiv {
    position: absolute;
    right: 0;
    top: 112px;
    display: flex;
    align-items: center;
}

.roundImg {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 4px solid #00BEE8;
    object-fit: cover;
}

.line7 {
    height: 4px;
    width: 300px;
}

.shadowGraficDiv {
    z-index: 4;
    position: absolute;
    top: 850px;
    right: 0;
    overflow: hidden;
}


// ===========================
// ======== - Media - ========
// ===========================

@media (max-width: 1500px) {
    .line7 {
        width: 50px;
    }
}

@media (max-width: 1240px) {
    .roundImg {
        width: 350px;
        height: 350px;
    }

    .shadowGraficDiv {
        top: 910px;
        right: 0;
    }
}

@media (max-width: 1080px) {
    .roundImgSpanDiv {
        display: none;
    }

    .marginLeft {
        margin: 0;
        width: 100vw;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .h1SpanDiv {
        max-width: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            max-width: 500px;
        }
    }
}

@media (max-width: 990px) {
    .emailAbout {
        display: none;
    }

    .scrollRotate {
        display: none;
    }

    .iconScrollDiv {
        top: 1075px;
    }
}

@media (max-width: 910px) {
    .iconAbout {
        margin-right: 5px;
    }
}

@media (max-width: 550px) {
    .imgAndSpanDiv {
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .aboutH1 {
        font-size: 70px;
        margin-top: 130px;
        margin-right: 40px;
        width: auto;
    }

    .aboutMeSite {
        top: 1030px;
    }

    .aboutSpanText {
        font-size: 16px;
    }

    .aboutSpanText {
        max-width: none;
        margin-left: 45px;
        margin-right: 80px;
        word-wrap: break-word;
    }

    .shadowGraficDiv {
        overflow: hidden;

        img {
            width: 300px;
            height: 600px;
        }
    }
}

@media (max-width: 510px) {
    .backgroundAbout {
        z-index: 1;
        top: 725px;
        height: 140vh;
    }
}

@media (max-width: 420px) {
    .aboutH1 {
        font-size: 52px;
        margin-bottom: 30px;
    }

    .imgAndSpan {
        img {
            margin-right: 25px;
        }
    }
}

@media (max-width: 400px) {
    .aboutSpanText {
        margin-left: 20px;
        margin-right: 20px;
    }

    .imgAndSpanDiv {
        margin-right: 20px;
    }
}

@media (max-width: 400px) {
    .shadowGraficDiv {
        width: 230px;
    }

    .line1 {
        width: 50px;
        margin-right: 10px;
    }

    .aboutH1 {
        font-size: 48px;
        margin-right: 0;
    }
}