<div class="aboutMeDiv">
    <div class="iconScrollDiv">
        <div class="iconDiv">
            <a href="#"><img class="line1" src="assets/img/Vector 1.png"></a>
            <a href="#"><img class="iconAbout" src="assets/img/Icon/Vector.png"></a>
            <a href="#"><img class="iconAbout" src="assets/img/Icon/Vector (3).png"></a>
            <a href="#"><img class="iconAbout" src="assets/img/Icon/Vector (4).png"></a>
            <a href="#"><span class="emailAbout">fabianflegler1@yahoo.de</span></a>
        </div>
        <div class="scrollRotate">
            <span>Scroll down</span>
            <img src="assets/img/Icon/Vector (5).png">
        </div>
    </div>

    <div>

    </div>
</div>

<div class="aboutMeSite">

    <div class="marginLeft">
        <div class="h1SpanDiv">
            <h1 class="aboutH1">About me</h1>
            <span class="colorWhite aboutSpanText">Hi, I am a front-end developer based in Siegen, Germany(....)Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit
                amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.</span>
        </div>

        <div>
            <div class="imgAndSpan">
                <img src="assets/img/Icon/bulb desktop.png">
                <span class="colorWhite">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ratione quo facilis cumque
                    porro omnis voluptas, incidunt necessitatibus hic?</span>
            </div>
            <div class="imgAndSpan">
                <img src="assets/img/Icon/Vector (6).png">
                <span class="colorWhite">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam laudantium facilis aliquam iusto
                    voluptatem aperiam dolorem. Libero provident </span>
            </div>
        </div>
    </div>

    <div  class="roundImgSpanDiv">
        <img class="roundImg" src="assets/img/FabianFleglerRund.png">
        <img class="line7" src="assets/img/LINE 7.png">
    </div>
</div>

<div class="backgroundAbout"></div>