<div class="startDiv">
    <app-header></app-header>

    <div class="myDiv">
        <img data-aos="zoom-in-up" src="assets/img/FabianFleglerImgNoEffect.png" class="profielImg">
        <img src="assets/img/BlueStartDesign.png" class="blueStartDesign">
    </div>

    <div data-aos="fade-up" class="nameRotateDiv">
        <div class="rotateDiv">
            <span>I am</span>
        </div>
        <div class="rightDiv">
            <span class="colorWhite">Fabian Flegler</span>
            <span class="colorBlue">FRONTEND DEVELOPER</span>
        </div>
        <a href="#contact"><button class="letsTalkBtn">Let's talk</button></a>
    </div>

    <div class="vectorGraffic">
        <img src="assets/img/Vector.png" class="designElement">
    </div>
</div>

<div class="BackgroundDesignElement"></div>

<div class="backgroundFullSite"></div>