<div class="frontpage">
    <div class="profile">
        <div class="profile-picture">
            <img class="shadow" src="assets/img/BlueStartDesign.png">
            <img data-aos="zoom-in-up" src="assets/img/FabianFlegler.png" class="profile-img">
        </div>
        <div class="introduction">
            <div class="introduction-text" data-aos="zoom-in-up">
                <h1 class="vertical-text"> I am </h1>
                <div class="horizontal-text">
                    <span class="name"> Fabian Flegler </span>
                    <br>
                    <span class="job-title"> FRONTEND DEVELOPER </span>
                </div>
            </div>
            <div class="contact-btn" data-aos="zoom-in-up">
                <a href="#contact" class="contact-btn"> Let's talk! </a>
            </div>
        </div>
    </div>

    <div class="vector">
        <img src="assets/img/Vector.png">
        <div class="contact-links">
            <div class="blue-line"></div>
            <div class="contact-links-btn" data-aos="zoom-in-up">
                <a href="https://github.com/FabianFle" target="_blank"> <img src="assets/img/Icon/Vector.png"> </a>
                <a href="#contact"> <img src="assets/img/Icon/Vector (3).png"> </a>
                <a href="https://www.linkedin.com/in/fabian-flegler-656074269/" target="_blank"> <img
                        src="assets/img/Icon/Vector (4).png"> </a>
                <a class="email" href="#contact">fabianflegler@mail.de</a>
            </div>
            <div data-aos="zoom-in-up" class="scroll-down-container">
                <span class="scroll-down">
                    Scroll down
                    <img src="assets/img/Icon/Vector (5).png">
                </span>
            </div>
        </div>
    </div>

    <div class="purple-shadow">
        <img src="assets/img/Purple-shadow.png">
    </div>

</div>