.backgroundStart {
    height: 100vh;
    background: rgb(20, 29, 47);
}

:host {
    display: block;
}

.startDiv {
    width: 100vw;
    max-width: 100%;
}

.startHauptDiv {
    display: block;
    background-color: rgb(20, 29, 47);
    height: 100vh;
}

.myDiv {
    width: 100%;
    height: 500px;
}

.profielImg {
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 3;
    width: 600px;
    object-fit: cover;
}

.profielImg1 {
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 5;
    width: 600px;
    object-fit: cover;
}

.myDiv img:last-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    object-fit: cover;
}


.nameRotateDiv {
    z-index: 5;
    position: absolute;
    top: 250px;
    right: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
}

.rotateDiv {
    color: #FFFFFF;
    text-shadow: 0 0 5px white;
    transform: rotate(-90deg);

    span {
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
    }
}

.rightDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colorWhite {
    color: white;
    text-shadow: 0 0 5px white;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
}

.colorBlue {
    color: #4B47FF;
    text-shadow: 0 0 5px #4B47FF;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
}

.letsTalkBtn {
    border: none;
    position: absolute;
    width: 165px;
    height: 58px;
    right: 208px;
    top: 212px;
    color: white;
    background-color: #4B47FF;
    box-shadow: 0 0 5px #4B47FF;
    font-size: 24px;
    border-radius: 10px;
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: #00BEE8;
        box-shadow: 0 0 5px #4B47FF;
        transform: scale(1.2);
    }
}

.vectorGraffic {
    position: relative;
}

.designElement {
    z-index: 3;
    position: absolute;
    top: 140px;
    height: 500px;
    width: 100%;
}

// ===========================
// ======== - Media - ========
// ===========================

@media (max-width: 1420px) {
    .colorWhite {
        font-size: 70px;
    }

    .colorBlue {
        font-size: 47px;
    }

    .rotateDiv {
        span {
            font-size: 50px;
        }
    }
}

@media (max-width: 1350px) {
    .backgroundFullSite {
        height: 690vh;
    }
}

@media (max-width: 1245px) {
    .colorWhite {
        font-size: 60px;
    }

    .colorBlue {
        font-size: 41px;
    }

    .rotateDiv {
        span {
            font-size: 42px;
        }
    }

    .letsTalkBtn {
        right: 140px;
        top: 160px;
    }
}

@media (max-width: 1130px) {
    .colorWhite {
        font-size: 60px;
    }

    .colorBlue {
        font-size: 41px;
    }

    .rotateDiv {
        span {
            font-size: 42px;
        }
    }
}

@media (max-width: 1090px) {
    .nameRotateDiv {
        right: 5%;
    }

    .blueStartDesign {
        width: 100%;
    }
}

@media (max-width: 1040px) {
    .nameRotateDiv {
        right: 10px;
    }
}

@media (max-width: 1030px) {
    .backgroundFullSite {
        height: 780vh;
    }
}

@media (max-width: 990px) {

    .nameRotateDiv {
        margin: 0;
        right: 0;
        left: 0;
        justify-content: center;
        top: 760px;
    }

    .letsTalkBtn {
        left: calc(50% - 158px/2);
        top: 200px;
    }

    .designElement {
        height: 570px;
        top: 0;
    }

    .profielImg {
        left: 0;
        right: 0;
        margin: auto;
    }

    .profielImg1 {
        display: none;
    }

    .colorWhite {
        font-size: 70px;
    }

    .colorBlue {
        font-size: 48px;
    }

    .rotateDiv {
        span {
            font-size: 50px;
        }
    }

    .backgroundFullSite {
        height: 780vh;
    }
}

@media (max-width: 840px) {
    .colorWhite {
        font-size: 70px;
    }

    .colorBlue {
        font-size: 48px;
    }

    .rotateDiv {
        span {
            font-size: 47px;
        }
    }
}

@media (max-width: 660px) {

    .colorWhite {
        font-size: 55px;
    }

    .colorBlue {
        font-size: 37px;
    }

    .rotateDiv {
        span {
            font-size: 36px;
        }
    }

    .letsTalkBtn {
        top: 140px;
    }

    .profielImg {
        top: 100px;
        width: auto;
        max-width: 100%;
    }

    .profielImg1 {
        top: 100px;
        width: auto;
        max-width: 100%;
    }

    .myDiv {
        top: 140px;
    }

    .BackgroundDesignElement {
        z-index: 3;
        position: absolute;
        top: 1030px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 400px;
        max-width: 100%;
        background: rgb(20, 29, 47);
    }
}

@media (max-width: 510px) {

    .designElement {
        height: 412px;
        top: 0;
    }

    .colorWhite {
        font-size: 45px;
    }

    .colorBlue {
        font-size: 30px;
    }

    .rotateDiv {
        span {
            font-size: 30px;
        }
    }

    .letsTalkBtn {
        top: 130px;
    }

    .BackgroundDesignElement {
        top: 910px;
    }

    .nameRotateDiv {
        top: 685px;
    }
}

@media (max-width: 430px) {

    .designElement {
        height: 300px;
    }

    .profielImg {
        height: 740px;
    }

    .profielImg1 {
        height: 740px;
    }

    .colorWhite {
        font-size: 35px;
    }

    .colorBlue {
        font-size: 24px;
    }

    .rotateDiv {
        span {
            font-size: 22px;
        }
    }

    .letsTalkBtn {
        top: 110px;
    }

    .nameRotateDiv {
        top: 675px;
    }

    .BackgroundDesignElement {
        top: 790px;
    }
}

@media (max-width: 400px) {
    .backgroundFullSite {
        height: 1180vh;
    }
}