.backgroundFullSite {
    width: 100vw;
    max-width: 100%;
    height: 640vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(20, 29, 47);
}


.startDiv {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(20, 29, 47);
}

.myDiv {
    z-index: 2;
    position: absolute;
    top: 150px;
    left: 100px;
    display: flex;
    justify-content: flex-start;
}

.profielImg {
    height: 805px;
    object-fit: cover;
    overflow: hidden;
}

.nameRotateDiv {
    z-index: 2;
    position: absolute;
    top: 250px;
    right: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
}

.rotateDiv {
    color: #FFFFFF;
    transform: rotate(-90deg);

    span {
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 120%;
    }
}

.rightDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colorWhite {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
}

.colorBlue {
    color: #4B47FF;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
}

.letsTalkBtn {
    z-index: 3;
    border: none;
    position: absolute;
    width: 165px;
    height: 58px;
    right: 208px;
    top: 212px;
    background: #00BEE8;
    color: white;
    font-size: 24px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: #4B47FF;
        transform: scale(1.2);
    }
}

.designElement {
    z-index: 2;
    position: absolute;
    height: 1104.6px;
    top: 341px;
    width: 100%;
}

.dBlueGraffic {
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 0;
}

.lBlueGraffic {
    z-index: 1;
    position: absolute;
    top: 150px;
    left: 100px;
}

// ===========================
// ======== - Media - ========
// ===========================

@media (max-width: 1420px) {
    .colorWhite {
        font-size: 70px;
    }

    .colorBlue {
        font-size: 47px;
    }

    .rotateDiv {
        span {
            font-size: 50px;
        }
    }
}

@media (max-width: 1350px) {
    .backgroundFullSite {
        height: 670vh;
    }
}

@media (max-width: 1245px) {
    .colorWhite {
        font-size: 60px;
    }

    .colorBlue {
        font-size: 41px;
    }

    .rotateDiv {
        span {
            font-size: 42px;
        }
    }

    .letsTalkBtn {
        right: 140px;
        top: 160px;
    }
}

@media (max-width: 1130px) {
    .colorWhite {
        font-size: 60px;
    }

    .colorBlue {
        font-size: 41px;
    }

    .rotateDiv {
        span {
            font-size: 42px;
        }
    }

    .myDiv {
        top: 190px;
        left: 75px;
    }
}

@media (max-width: 1090px) {
    .nameRotateDiv {
        right: 5%;
    }
}

@media (max-width: 1040px) {
    .nameRotateDiv {
        right: 10px;
    }
}

@media (max-width: 1030px) {
    .backgroundFullSite {
        height: 780vh;
    }
}

@media (max-width: 990px) {

    .nameRotateDiv {
        margin: 0;
        right: 0;
        left: 0;
        justify-content: center;
        top: 655px;
        z-index: 3;
    }

    .letsTalkBtn {
        left: calc(50% - 158px/2);
        top: 200px;
    }

    .myDiv {
        top: 110px;
        left: 25%;
    }

    .lBlueGraffic {
        left: 320px;
        top: 80px;

        img {
            height: 400px;
            width: 400px;
        }
    }

    .designElement {
        height: 700px;
        top: 367px;
    }

    .colorWhite {
        font-size: 90px;
    }

    .colorBlue {
        font-size: 61px;
    }

    .rotateDiv {
        span {
            font-size: 66px;
        }
    }
}

@media (max-width: 840px) {
    .colorWhite {
        font-size: 70px;
    }

    .colorBlue {
        font-size: 48px;
    }

    .rotateDiv {
        span {
            font-size: 47px;
        }
    }
}

@media (max-width: 750px) {
    .lBlueGraffic {
        left: 270px;
        top: 80px;

        img {
            height: 350px;
            width: 350px;
        }
    }
}

@media (max-width: 660px) {
    .myDiv {
        left: 10%;
    }

    .colorWhite {
        font-size: 55px;
    }

    .colorBlue {
        font-size: 37px;
    }

    .rotateDiv {
        span {
            font-size: 36px;
        }
    }

    .letsTalkBtn {
        top: 140px;
    }

    .lBlueGraffic {
        right: 0px;
        top: 80px;
        overflow: hidden;

        img {
            height: 500px;
        }
    }
}

@media (max-width: 540px) {

    .dBlueGraffic {
        img {
            width: 260px;
            height: 600px;
        }
    }
}

@media (max-width: 510px) {

    .designElement {
        height: 412px;
        top: 462px;
    }

    .BackgroundDesignElement {
        z-index: 2;
        position: absolute;
        top: 760px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 200px;
        max-width: 100%;
        background: rgb(20, 29, 47);
    }

    .myDiv {
        left: 2%;
    }

    .colorWhite {
        font-size: 45px;
    }

    .colorBlue {
        font-size: 30px;
    }

    .rotateDiv {
        span {
            font-size: 30px;
        }
    }

    .letsTalkBtn {
        top: 130px;
    }
}

@media (max-width: 430px) {

    .designElement {
        height: 300px;
        top: 530px;
    }

    .myDiv {
        left: 0;
    }

    .profielImg {
        height: 740px;
    }

    .colorWhite {
        font-size: 35px;
    }

    .colorBlue {
        font-size: 24px;
    }

    .rotateDiv {
        span {
            font-size: 22px;
        }
    }

    .letsTalkBtn {
        top: 110px;
    }

    .nameRotateDiv {
        top: 675px;
    }
}

@media (max-width: 400px) {
    .profielImg {
        height: 550px;
    }

    .colorWhite {
        font-size: 30px;
    }

    .colorBlue {
        font-size: 20px;
    }

    .colorBlue {
        top: 100px;
    }

    .letsTalkBtn {
        width: 140px;
        height: 50px;
    }
}