.contactDiv {
    z-index: 2;
    position: absolute;
    top: 4800px;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.contactHeadlin {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        height: 4px;
    }

    h1 {
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 120%;
        margin-left: 50px;
    }
}

.contactInfosAndInputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 110px;
    margin-right: 130px;
}

.contactInfos {
    max-width: 430px;

    span {
        color: white;
    }
}

.headInfosSpan {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
}

.infoSpan {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}


.formInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    input {
        background-color: transparent;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        width: 500px;
        height: 30px;
        padding: 15px 25px;
        margin-bottom: 30px;
        transition: all 125ms ease-in-out;
        color: white;
        outline: none;

        &::placeholder {
            color: white;
            font-family: 'Poppins';
        }

        &:hover {
            border: 1px solid #00BEE8;
        }
    }

    textarea {
        background-color: transparent;
        color: white;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        width: 500px;
        height: 200px;
        padding: 15px 25px;
        margin-bottom: 30px;
        transition: all 125ms ease-in-out;
        outline: none;

        &::placeholder {
            color: white;
            font-family: 'Poppins';
        }

        &:hover {
            border: 1px solid #00BEE8;
        }
    }
}

.margin-bottom {
    margin-bottom: 50px;
}

.margin-top {
    margin-top: 50px;
}

.sendMessageBtn {
    background: #00BEE8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: white;
    border: none;
    padding: 15px 30px;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: #4B47FF;
        transform: scale(1.2);
        cursor: pointer;
    }
}

.goUp {
    z-index: 5;
    position: absolute;
    width: 39px;
    height: 39px;
    right: 100px;
    top: 5600px;
    border-radius: 41px;
}

.goUpImg {
    transition: all 125ms ease-in-out;
    border-radius: 41px;

    &:hover {
        background-color: #00BEE8;
        transform: scale(1.2);
        cursor: pointer;
    }
}

.inputIsEmpty {
    border: 1px solid red;
}

.purpleShadowEffect {
    position: absolute;
    top: 5150px;
    transform: rotate(180deg);
    overflow: hidden;
}


.loader {
    border: 10px solid transparent;
    border-top-color: #4B47FF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: pulse 1s infinite ease-in-out;
    margin: 0 auto;
    position: absolute;
}

.loader2 {
    border: 10px solid transparent;
    border-top-color: #00BEE8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: pulse2 1s infinite ease-in-out;
    margin: 0 auto;
    position: absolute;
}

.loaderDiv {
    position: relative;
    margin-top: -59px;
    margin-left: 290px;
}

@keyframes pulse {
    0% {
        transform: rotate(0deg);
        opacity: 0.5;
    }

    50% {
        transform: rotate(180deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0.5;
    }
}

@keyframes pulse2 {
    0% {
        transform: rotate(180deg);
        opacity: 1;
    }

    50% {
        transform: rotate(360deg);
        opacity: 0.5;
    }

    100% {
        transform: rotate(540deg);
        opacity: 1;
    }
}

.loaderDNone {
    display: none;
}

.emailSendDiv {
    margin-top: 20px;

    span {
        color: white;
        font-size: 20px;
    }
}

// ===========================
// ======== - Media - ========
// ===========================

@media (max-width: 1350px) {
    .contactDiv {
        top: 4850px;
    }

    .goUp {
        top: 5690px;
    }

    .contactInfosAndInputs {
        flex-direction: column;
        align-items: center;
    }

    .formInput {
        margin-top: 100px;
    }

    .contactDiv {
        height: 140vh;
    }

    .goUp {
        top: 6000px;
    }

    .backgroundContact {
        height: 130vh;
    }
}

@media (max-width: 1030px) {
    .contactDiv {
        top: 5800px;
    }

    .backgroundContact {
        height: 240vh;
    }

    .goUp {
        top: 6900px;
    }
}

@media (max-width: 700px) {
    .contactHeadlin {
        h1 {
            font-size: 70px;
            margin-left: 20px;
        }

        img {
            width: 70px;
        }
    }

    .formInput {
        input {
            width: 340px;
        }

        textarea {
            width: 340px;
        }
    }

    .goUp {
        top: 6850px;
    }

    .contactInfosAndInputs {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    .purpleShadowEffect {
        top: 5050px;

        img {
            width: 380px;
            height: 590px;
        }
    }

    .contactDiv {
        top: 5950px;
    }

    .contactHeadlin {
        h1 {
            font-size: 60px;
        }
    }

    .contactInfos {
        text-align: center;
    }

    .formInput {
        input {
            width: 260px;
        }

        textarea {
            width: 260px;
        }
    }

    .goUp {
        top: 7020px;
        right: 40px;
    }
}

@media (max-width: 400px) {
    .contactDiv {
        top: 6150px;
    }

    .contactHeadlin {
        img {
            width: 20px;
        }

        h1 {
            margin-left: 10px;
            font-size: 55px;
        }
    }

    .formInput {
        margin-top: 30px;

        input {
            width: 215px;
        }

        textarea {
            width: 215px;
            height: 120px;
        }
    }

    .goUp {
        top: 7110px;
    }
}