.skillDiv {
    position: absolute;
    top: 1650px;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.renderSkills {
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin-left: 100px;
    margin-top: 175px;
}

.headlineSkillsAndText {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    padding-bottom: 20px;
}

.imgAndSpan {
    width: 100px;
    height: 100px;
    margin-right: 120px;
    margin-bottom: 80px;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.3);
    }

    span {
        margin-top: 6px;
        text-align: center;
    }
}

.imgAndSpanDiv {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skillImg {
    width: 65px;
    height: 65px;
}

.skillName {
    color: white;
}

.headlineAndimg {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    h1 {
        color: white;
        text-shadow: 0 0 5px white;
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 120%;
        margin-right: 60px;
        margin-bottom: 40px;
    }

    img {
        width: 60px;
        height: 4px;
    }
}

.spanAndBtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.spanText {
    color: white;
    text-align: right;
    margin-right: 130px;
    max-width: 510px;
}

.getIntTouchBtn {
    border: none;
    background: #00BEE8;
    box-shadow: 0 0 5px #00BEE8;
    border-radius: 10px;
    width: 200px;
    height: 58px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: white;
    margin-top: 50px;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: #4B47FF;
        box-shadow: 0 0 5px #4B47FF;
        transform: scale(1.2);
        cursor: pointer;
    }
}

.lBlueGrafic {
    z-index: 2;
    position: absolute;
    top: 2170px;
    left: 0px;
    overflow: hidden;
}


// ===========================
// ======== - Media - ========
// ===========================

@media (max-width: 1500px) {
    .headlineSkillsAndText {
        top: 200px;
    }

    .renderSkills {
        margin-top: 540px;
        justify-content: center;
        max-width: none;
    }

    .getIntTouchBtn {
        z-index: 2;
        position: absolute;
        top: 800px;
        left: calc(50% - 158px/2);
    }
}

@media (max-width: 860px) {
    .renderSkills {
        margin-top: 540px;
    }

    .getIntTouchBtn {
        z-index: 2;
        top: 800px;
    }

    .headlineSkillsAndText {
        top: 200px;
    }

    .renderSkills {
        max-width: none;
    }

    .imgAndSpan {
        margin-right: 30px;
        margin-bottom: 40px;
    }
}

@media (max-width: 660px) {
    .renderSkills {
        margin-left: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .headlineAndimg {
        h1 {
            font-size: 70px;
            margin-right: 20px;
        }
    }

    .spanText {
        margin-right: 70px;
        margin-left: 70px;
    }
}

@media (max-width: 540px) {
    .skillImg {
        width: 40px;
        height: 40px;
    }

    .imgAndSpan {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 500px) {
    .headlineSkillsAndText {
        top: 300px;
    }

    .getIntTouchBtn {
        top: 780px;
    }

    .renderSkills {
        margin-left: 0;
    }
}

@media (max-width: 435px) {
    .renderSkills {
        margin-top: 680px;
    }

    .getIntTouchBtn {
        top: 830px;
    }

    .headlineAndimg {
        h1 {
            font-size: 60px;
        }
    }
}

@media (max-width: 400px) {
    .spanText {
        margin-right: 50px;
        margin-left: 35px;
    }

    .headlineAndimg {
        h1 {
            font-size: 40px;
            margin-right: 10px;
        }

        img {
            width: 35px;
        }
    }

    .headlineSkillsAndText {
        top: 375px;
    }

    .getIntTouchBtn {
        top: 760px;
    }
}

@media (max-width: 400px) {
    .skillDiv {
        top: 1860px;
    }

    .headlineSkillsAndText {
        z-index: 3;
    }

    .renderSkills {
        margin-top: 780px;
    }
}