<div class="skills-container" id="skills">


  <div class="skills-icons">

    <div *ngFor="let skill of skills; let i = index" class="skills-icons-row">

      <div data-aos="zoom-in-up" class="skill-icon">

        <img src="assets/img/Icon/{{skill.img}}">

        <span>{{skill.name}}</span>


      </div>
    </div>
  </div>




  <div class="skills-text">

    <div class="blue-Line-Headline">
      <h1 data-aos="zoom-in-up" translate>My Skills</h1>
      <div class="blue-line"></div>
    </div>

    <div data-aos="zoom-in-up" class="skills-subheadline" translate>

      I have grown my frontend developments skills that have allowed me to create different real projects.

    </div>

    <div data-aos="zoom-in-up" class="contact-btn">
      <a href="#contact">
        <button translate> Get in touch </button>
      </a>
    </div>

  </div>

  <div class="LBlue-shadow">

    <img src="assets/img/L. blue 1.png">

  </div>
</div>