<div class="portfolio-container" id="portfolio">

  <div class="headline" data-aos="zoom-in-up">
    <div class="blue-line-left"></div>
    <h1> Portfolio </h1>
    <div class="blue-line-right"></div>
  </div>

  <div class="portfolio-welcome" data-aos="zoom-in-up">
    <span translate>This page is a sample of my work - please feel free to try them out. </span>
  </div>


  <div class="zIndex" *ngFor="let projekt of projekte; let i = index">

    <div *ngIf="i % 2 == 0" class="portfolio-project1" data-aos="fade-up">
      <div class="project-description">
        <h1>{{ projekt.name }}</h1>
        <h2>{{ projekt.programmingLanguage }}</h2>
        <span translate>{{ projekt.text }}</span>
        <div class="projects-buttons">
          <a href="{{ projekt.link }}" target="_blank"><button class="live-test-btn">Live test</button></a>
          <a href="{{ projekt.linkGit }}" target="_blank"><button class="github-btn">Github</button></a>
        </div>
      </div>
      <div *ngIf="i % 2 == 0" class="project-image">
        <img src="assets/img/{{ projekt.img }}">
      </div>
    </div>


    <div *ngIf="i % 2 != 0" class="portfolio-project2 column-reverse" data-aos="fade-up">
      <div *ngIf="i % 2 != 0" class="project-image">
        <img src="assets/img/{{ projekt.img }}">
      </div>
      <div class="project-description">
        <h1>{{ projekt.name }}</h1>
        <h2>{{ projekt.programmingLanguage }}</h2>
        <span translate>{{ projekt.text }}</span>
        <div class="projects-buttons">
          <a href="{{ projekt.link }}" target="_blank"><button class="live-test-btn">Live test</button></a>
          <a href="{{ projekt.linkGit }}" target="_blank"><button class="github-btn">Github</button></a>
        </div>
      </div>
    </div>

  </div>

  <div class="LBlueShadow">
    <img src="assets/img/L. blue 2.png">
  </div>

</div>