.portfolioHauptDiv {
    position: relative;
    display: block;
    background-color: rgb(20, 29, 47);
    height: 210vh;
}

.portfolie {
    z-index: 4;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
}

.allProjekte {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
}

.projektDiv {
    padding-bottom: 130px;
}

.projektInfo1Div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.projektInfo2Div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.projektInfos {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    h2 {
        color: #4B47FF;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
    }
}


.projektInfos1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h2 {
        color: #4B47FF;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
    }
}

.programmingLanguageSpan {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #00BEE8;
    margin-bottom: 30px;
    text-align: center;
}

.projektText {
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
    max-width: 400px;
    text-align: end;
}

.projektText1 {
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
    max-width: 400px;
    text-align: start;
}

.headlineName {
    font-weight: 700;
    font-size: 90px;
    color: white;
    text-shadow: 0 0 5px white;
    margin: 50px;
}

.headlineDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlineAndLine {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projektDivPosition {
    z-index: 5;
    width: 100vw;
    position: absolute;
    top: 340px;
}

.lineLong {
    width: 120px;
    height: 4px;
}

.spanText {
    color: white;
    font-size: 20px;
}

.liveTestBtn {
    border: none;
    background: #4B47FF;
    box-shadow: 0 0 5px #4B47FF;
    border-radius: 10px;
    width: 152px;
    height: 58px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    margin-right: 100px;
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        background: #00BEE8;
        box-shadow: 0 0 5px #00BEE8;
    }
}

.githubBtn {
    background-color: transparent;
    border: 2px solid #00BEE8;
    box-shadow: 0 0 5px #00BEE8;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: white;
    border-radius: 10px;
    width: 152px;
    height: 58px;
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        background: #00BEE8;
        box-shadow: 0 0 5px #00BEE8;
    }
}

.frameImg {
    width: 480px;
    height: 250px;
    object-fit: contain;
}

.dBlue2Graffic {
    z-index: 1;
    position: absolute;
    top: 470px;
    overflow: hidden;
}

.lBlue2Graffic {
    z-index: 1;
    position: absolute;
    top: 710px;
    right: 0;
    overflow: hidden;
}


// ===========================
// ======== - Media - ========
// ===========================

@media (max-width: 1200px) {
    .portfolioHauptDiv {
        padding-top: 200px;
    }

    .projektDivPosition {
        top: 500px;
    }
}

@media (max-width: 1130px) {
    .frameImg {
        width: 380px;
    }
}

@media (max-width: 1030px) {

    .portfolioHauptDiv {
        height: 290vh;
    }

    .projektInfo1Div {
        flex-direction: column-reverse;
        align-items: center;
    }

    .projektInfo2Div {
        flex-direction: column;
        align-items: center;
    }

    .projektText {
        text-align: center;
        margin-bottom: 20px;
    }

    .projektDiv {
        padding-bottom: 80px;
    }

    .projektInfos {
        display: flex;
        align-items: center;
    }

    .projektInfos1 {
        display: flex;
        align-items: center;
    }

    .dBlue2Graffic {

        img {
            width: 500px;
            height: 790px;
        }
    }

    .programmingLanguageSpan {
        margin-bottom: 15px;
    }
}

@media (max-width: 910px) {

    .dBlue2Graffic {

        img {
            width: 550px;
            height: 790px;
        }
    }
}

@media (max-width: 780px) {

    .dBlue2Graffic {

        img {
            width: 500px;
            height: 600px;
        }
    }
}

@media (max-width: 720px) {
    .headlineName {
        font-size: 70px;
        margin: 20px;
    }

    .spanText {
        word-wrap: break-word;
    }

    .spanTextDiv {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .headlineAndLine {
        align-items: flex-end;
    }
}

@media (max-width: 660px) {
    .projektInfo1Div {
        margin-left: 10px;
        margin-right: 10px;
    }

    .projektInfo2Div {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 630px) {

    .headlineName {
        margin: 10px;
    }

    .projektText {
        margin-left: 10px;
        margin-right: 10px;
        word-wrap: break-word;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .dBlue2Graffic {

        img {
            width: 200px;
            height: 500px;
        }
    }

    .liveTestBtn {
        margin: 10px;
    }

    .headlineDiv {
        margin-top: 150px;
    }

    .headlineName {
        font-size: 60px;
    }

    .frameImg {
        width: 300px;
    }

    .portfolie {
        top: 0;
    }

    .projektDivPosition {
        top: 390px;
    }
}

@media (max-width: 510px) {
    .headlineName {
        font-size: 50px;
    }

    .smallLine {
        width: 50px;
        height: 4px;
    }

    .lineLong {
        width: 50px;
    }
}

@media (max-width: 360px) {
    .projektInfos {
        h2 {
            margin: 10px;
        }
    }

    .githubBtn {
        width: 100px;
        height: 50px;
    }

    .liveTestBtn {
        width: 100px;
        height: 50px;
    }

    .projektDiv {
        padding-bottom: 0;
    }

    .portfolioHauptDiv {
        height: 255vh;
    }
}