.portfolie {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 2663px;
    left: 0;
    right: 0;
    background: rgb(20, 29, 47);
}

.allProjekte {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
}

.projektDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
    background-color: rgb(20, 29, 47);
}

.projektInfos {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    h2 {
        color: #4B47FF;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
    }
}


.projektInfos1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h2 {
        color: #4B47FF;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
    }
}

.programmingLanguageSpan {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #00BEE8;
    margin-bottom: 30px;
}

.projektText {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 50px;
}

.headlineName {
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    color: white;
    margin: 50px;
}

.headlineDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlineAndLine {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 500px;
}

.projektDivPosition {
    background-color: rgb(20, 29, 47);
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 3000px;
}

.lineLong {
    width: 550px;
    height: 4px;
}

.spanText {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-right: 460px;
}

.liveTestBtn {
    border: none;
    background: #4B47FF;
    border-radius: 10px;
    width: 152px;
    height: 58px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    margin-right: 100px;

    &:hover {
        cursor: pointer;
        background: #00BEE8;
    }
}

.githubBtn {
    background-color: transparent;
    border: 2px solid #00BEE8;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: white;
    border-radius: 10px;
    width: 152px;
    height: 58px;

    &:hover {
        cursor: pointer;
        background: #00BEE8;
    }
}

.frameImg {
    width: 400px;
    height: 200px;
    object-fit: contain;
}