.portfolie {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 2663px;
    left: 0;
    right: 0;
    background: rgb(20, 29, 47);
}

.allProjekte {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
}

.projektDiv {
    padding-bottom: 130px;
}

.projektInfo1Div {
    display: flex;
    justify-content: space-evenly;
}

.projektInfo2Div {
    display: flex;
    justify-content: space-evenly;
}

.projektInfos {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    h2 {
        color: #4B47FF;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
    }
}


.projektInfos1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h2 {
        color: #4B47FF;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
    }
}

.programmingLanguageSpan {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #00BEE8;
    margin-bottom: 30px;
}

.projektText {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 50px;
}

.headlineName {
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    color: white;
    margin: 50px;
}

.headlineDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlineAndLine {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 500px;
}

.projektDivPosition {
    z-index: 5;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 3000px;
}

.lineLong {
    width: 550px;
    height: 4px;
}

.spanText {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-right: 460px;
}

.liveTestBtn {
    border: none;
    background: #4B47FF;
    border-radius: 10px;
    width: 152px;
    height: 58px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    margin-right: 100px;
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        background: #00BEE8;
    }
}

.githubBtn {
    background-color: transparent;
    border: 2px solid #00BEE8;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: white;
    border-radius: 10px;
    width: 152px;
    height: 58px;
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        background: #00BEE8;
    }
}

.frameImg {
    width: 480px;
    height: 250px;
    object-fit: contain;
}

.backgroundProjekt {
    position: absolute;
    top: 3300px;
    height: 230vh;
    width: 100vw;
    max-width: 100%;
    background: rgb(20, 29, 47);
}

.dBlue2Graffic {
    z-index: 1;
    position: absolute;
    top: 3130px;
    overflow: hidden;
}

.lBlue2Graffic {
    z-index: 1;
    position: absolute;
    top: 4000px;
    right: 0;
    overflow: hidden;
}


// ===========================
// ======== - Media - ========
// ===========================

@media (max-width: 1350px) {
    .headlineDiv {
        position: absolute;
        top: 140px;
        right: 0;
    }

    .projektDivPosition {
        top: 3150px;
    }

    .spanText {
        max-width: 400px;
        margin-top: 380px;
        text-align: center;
    }
}

@media (max-width: 1165px) {
    .headlineDiv {
        margin-top: 85px;
    }

    .headlineName {
        font-size: 70px;
    }

    .lineLong {
        width: 310px;
    }

    .projektDivPosition {
        top: 3200px;
    }

    .spanText {
        margin-right: 310px;
    }
}

@media (max-width: 1030px) {
    .projektInfo1Div {
        flex-direction: column-reverse;
        align-items: center;
    }

    .projektInfo2Div {
        flex-direction: column;
        align-items: center;
    }

    .projektInfos {
        display: flex;
        align-items: center;
    }

    .projektInfos1 {
        display: flex;
        align-items: center;
    }

    .dBlue2Graffic {
        top: 3500px;
    }
}

@media (max-width: 910px) {
    .lineLong {
        width: 250px;
    }

    .spanText {
        margin-right: 245px;
    }
}

@media (max-width: 780px) {

    .lineLong {
        width: 100px;
    }

    .spanText {
        margin-right: 100px;
    }

    .dBlue2Graffic {
        top: 3700px;
        img {
            width: 500px;
            height: 600px;
        }
    }
}

@media (max-width: 630px) {

    .smallLine {
        width: 50px;
        height: 4px;
    }

    .headlineName {
        margin: 10px;
    }

    .spanText {
        margin-right: 55px;
    }

    .projektText {
        margin-left: 10px;
        margin-right: 10px;
        word-wrap: break-word;
        text-align: center;
    }
}

@media (max-width: 550px) {
    .dBlue2Graffic {
        top: 3700px;
        img {
            width: 400px;
            height: 600px;
        }
    }

    .liveTestBtn {
        margin: 10px;
    }

    .headlineDiv {
        margin-top: 150px;
    }

    .lineLong {
        width: 30px;
    }

    .headlineName{
        font-size: 60px;
    }

    .spanText {
        margin-top: 420px;
        margin-right: 5px;
    }

    .frameImg {
        width: 300px;
    }
}