<div class="portfolie" id="portfolio">

    <div class="headlineAndLine" data-aos="zoom-in-up">
        <div class="headlineDiv">
            <img src="assets/img/Vector 1.png" class="smallLine">
            <span class="headlineName">Portfolio</span>
            <img class="lineLong" src="assets/img/Vector 1.png">
        </div>
        <span class="spanText">This page is a sample of my work - please feel free to try them out.</span>
    </div>

</div>

<div class="projektDivPosition">
    <div *ngFor="let projekt of projekte; let i = index" class="projektDiv">
        <div class="projektInfo1Div" data-aos="fade-up">
            <div *ngIf="i % 2 == 0" class="projektInfos">
                <h2>{{ projekt.name }}</h2>
                <span class="programmingLanguageSpan">{{ projekt.programmingLanguage }}</span>
                <span class="projektText">{{ projekt.text }}</span>
                <div>
                    <a href="{{ projekt.link }}" target="_blank"><button class="liveTestBtn">Live test</button></a>
                    <a href="{{ projekt.linkGit }}" target="_blank"><button class="githubBtn">Github</button></a>
                </div>
            </div>

            <div *ngIf="i % 2 == 0" class="projekt1">
                <img class="frameImg" src="assets/img/{{ projekt.img }}">
            </div>
        </div>

        <div class="projektInfo2Div" data-aos="fade-up">
            <div *ngIf="i % 2 != 0" class="projekt2">
                <img class="frameImg" src="assets/img/{{ projekt.img }}">
            </div>

            <div *ngIf="i % 2 != 0" class="projektInfos1">
                <h2>{{ projekt.name }}</h2>
                <span class="programmingLanguageSpan">{{ projekt.programmingLanguage }}</span>
                <span class="projektText1">{{ projekt.text }}</span>
                <div>
                    <a href="{{ projekt.link }}" target="_blank"><button class="liveTestBtn">Live test</button></a>
                    <a href="{{ projekt.linkGit }}" target="_blank"><button class="githubBtn">Github</button></a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="dBlue2Graffic">
    <img src="assets/img/D. blue 2 P.png">
</div>

<div class="lBlue2Graffic">
    <img src="assets/img/L. blue 2.png">
</div>

<div class="backgroundPortfolio"></div>
<div class="backgroundPortfolio2"></div>