html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    overflow-y: scroll;
    /* vertikales Scrollen ermöglichen */
    overflow-x: hidden;
    /* horizontales Scrollen deaktivieren */
}