html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    overflow: overlay;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #4b47ff rgba(0, 190, 232);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #141D2F;
}

*::-webkit-scrollbar-thumb {
    background-color: #4b47ff;
    border-radius: 5px;
}